.container-multiform {
  max-width: 700px;
  background: #f1f1f1;
  margin: 190px auto 50px;
  position: relative;
  padding: 20px;
}
@media screen and (max-width: 700px) {
  .container-multiform {
    margin: 190px 20px 50px 20px;
  }
}
label,
input {
  display: block;
}

form {
  background: #f1f1f1;
  width: 100%;
}

.results-container {
  padding: 1rem;
  border: 1px solid lightblue;
}
