.text-end {
  text-align: end;
  color: #ad141e;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem 0;

  .cards {
    max-width: 1200px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    display: grid;
    gap: 2rem;

    a {
      text-decoration: none;
    }

    .card {
      width: 300px;
      height: 400px;
      padding: 0.5rem;
      box-shadow: 0 4px 8px 0 gray;
      transition: 0.3s;
      background: linear-gradient(160deg, #6d7df4 0%, #85fda3 100%);

      &:hover {
        box-shadow: 0 4px 8px 0 black;
      }

      img {
        border: 1px solid lightblue;
        border-radius: 5px;
        margin-top: 0.3rem;
      }

      .container {
        padding: 1rem;

        h3 {
          margin-top: 0;
          color: #ad141e;
        }

        .description {
          height: 80px;
          color: #ad141e;
        }

        .standard-button {
          min-width: 100px;
          height: 30px;
          padding: 0 1rem;
          border-radius: 1rem;
          background-color: #000;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  @media (min-width: 720px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1090px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
