.text-end {
  text-align: end;
  color: #ad141e;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem 0;

  .cards {
    max-width: 1200px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    display: grid;
    gap: 2rem;

    .card {
      width: 300px;
      height: 400px;
      padding: 0.5rem;
      // margin: 0.5rem;
      box-shadow: 0 4px 8px 0 gray;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 4px 8px 0 black;
      }

      img {
        border: 1px solid lightgray;
        border-radius: 5px;
      }

      .container {
        padding: 1rem;

        h3 {
          margin-top: 0;
        }

        .description {
          height: 80px;
        }

        .standard-button {
            min-width: 100px;
            height: 30px;
            padding: 0 1rem;
            border-radius: 1rem;
            background-color: #000;
            color: #fff;
            cursor: pointer;
        }
      }
    }
  }

  @media (min-width: 720px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1090px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
